@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Plantilla.cshtml";
}

@{ 
    int numero = 123;
    string nombre = "nombre";

}
<p> @numero</p>

@if (numero > 100)
{
<h3>el numero es mayor a 100</h3>
}
else
{

<h3>el numero no es mayor a 100</h3>
}
